.progress {
  display: block;
  width: 100%;
  background: rgba(196, 196, 196, 0.67);
  border-radius: 4px;
  overflow: hidden;

  .progress-bar {
    display: flex;
    align-items: center;
    // justify-content: center;
    height: 32px;
    background-color: $success;
    white-space: nowrap;
    padding: 4px 12px;
    text-align: center;
    span {
      width: 100%;
    }
  }
}
