.modal {
  padding: $modal-padding;
  &.is-light .modal-content {
    background-image: none !important;
    background-color: $white;
    padding: 44px 40px 16px;
    height: initial;
  }
}

.modal-content {
  background-color: $modal-content-background-color;
  border-radius: $modal-content-radius;
  height: $modal-content-height;
  padding: 50px 40px 20px;
  background-position: center;
  background-size: cover;
  text-align: center;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;

  img.modal-brand {
    align-self: center;
    height: 75px;
  }
  img.modal-logo {
    align-self: center;
    width: 180px;
  }
}
